Django==5.0.8
djangorestframework==3.15.2
django-cors-headers==4.3.1
django-environ==0.11.2
gunicorn==23.0.0
pillow==9.5.0           # downgraded to avoid build errors
psycopg2-binary==2.9.9  # if using Postgres
python-decouple==3.8
